page-seller-stat {

    .bus-stat{
        display: flex;
        flex-direction: column;
        flex: space-between;
        border-radius: 5px;
        margin: 7px; 
        padding: 10px;
        background-color: white;
        position: relative;

        .title{
            font-size: 19px;
            padding-left: 10px;
            display: inline-block;
        }
    }

    .button{
        width: calc(100% - 15px);
        margin: 0 auto;
        margin-bottom: 5px;
    }

}
