<ion-header>
  <my-navbar [title]="title" [enable_back]="true" [enable_shopping_button]="false"></my-navbar>
</ion-header>


<ion-content>
  <div class="changeIcon">
    <div class="buyerIcon">
      <img *ngIf="!edit_mode" [src]="personal_info.profile_pic_url">
      <img *ngIf="edit_mode" [src]="imgURL">
    </div>

    <div class="edit-button" *ngIf="edit_mode" (click)="presentActionSheet()" tappable>
      <div class="change">
        <ion-icon name="ios-camera"></ion-icon>
        Change icon
      </div>   
    </div>

  </div>

  <div class="changeData">
    <div>
      <div class="dataTitle">Name</div>
      <div *ngIf="!edit_mode" class="edit" (click)="editModeOn()" tappable>
        <ion-icon name="md-create"></ion-icon>
      </div>
    </div>

    <div *ngIf="!edit_mode" class="data">
      {{personal_info.display_name}}
    </div>

    <div *ngIf="edit_mode" class="data editing">
      <ion-input placeholder="{{personal_info.display_name}}" [(ngModel)]="edit_info.display_name"></ion-input>
    </div>
    <br>

    <div class="dataTitle">Address</div>

    <div *ngIf="!edit_mode" class="data">
      {{personal_info.address}}
    </div>
    <div *ngIf="edit_mode" class="data editing">
      <ion-input placeholder="{{personal_info.address}}" [(ngModel)]="edit_info.address"></ion-input>
    </div>
    <br>

    
    <div class="dataTitle">Contact no.</div>

    <div *ngIf="!edit_mode" class="data">
      {{personal_info.phone_number}}
    </div>
    <div *ngIf="edit_mode" class="data editing">
      <ion-input type="number" placeholder="{{personal_info.phone_number}}" [(ngModel)]="edit_info.phone_number"></ion-input>
    </div>
  </div>

  <div *ngIf="edit_mode" class="button_session">
    <div class="button submit" (click)="onSubmit()" tappable>
      Submit
    </div>
    <div class="button cancel" (click)="edit_mode = false" tappable>
      Cancel
    </div>
  </div>
</ion-content>
