page-buyer-personalise-profile {
    .changeIcon{
        padding: 17px 0 7px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .buyerIcon{
            width: 85px;
            height: 85px;
            border-radius: 50%;     
            border: 1px solid #707070;
            background: white;
        }

        .changeIconButton{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Arial";
            padding: 7px;
            margin-top: 15px;
            width: 147px;
            height: 34px;
            background: #027B73;
            font-size: 17px;
            color: white;
        }
    }

    .changeData{
        display: flex;
        flex-direction: column;
        flex: space-between;
        border-radius: 2%;
        height: 160px;
        margin: 7px; 
        padding: 10px;
        background-color: white;
        position: relative;

        .edit{
            display: inline-block;
            position: absolute;
            right: 10px;
        }

        .dataTitle{
            padding-left: 10px;
            display: inline-block;
        }

        .data{
            padding-top: 3px;
            padding-left: 20px;
            font-size: 14px;
            color: rgb(172, 172, 172);
        }
    }
}
