<ion-header>
  <my-navbar [enable_shopping_button]="false" [logo_url]="'assets/imgs/app-logo.png'" [enable_back]="enable_back"></my-navbar>
  <div class="shopping-cart">
    <ion-icon class="icon" name="md-cart" ></ion-icon>
    <span>Shopping Cart</span>
  </div>
</ion-header>

<ion-content >
  <!--Shopping cart title</!-->
  <!-- <div class="shopping-cart">
      <ion-icon class="icon" name="md-cart" ></ion-icon>
      <span>Shopping Cart</span>
  </div> -->


  <!-->main body(empty)
  <div id="empty-cart" ng-hide="empty-hidden">
    <div class="cart-block">
      <div class="empty-cart-notice">
          <span>Your shopping cart is empty!</span>
      </div>
    </div>

    <div class="shopping-button" (click)="MarketOpenPage()" tappable>
        <div class="button-text">Continue Shopping</div>
    </div>
  </div></!-->


  <!-->main body(has products)</!-->
  <div id="non-empty-cart">
    <ion-slides>
      <ion-slide *ngFor="let o of allOrder; let i = index">
        <div class="non-empty-cart-block">
          <div class="list-title">
            <ion-icon name="ios-arrow-back" (click)="slideButtonClick(1)" [class.hidden]="hiddenCheck(1)" tappable></ion-icon>
            <div class="list-title-text">List {{i + 1}} - {{o.farm.display_name}}</div>
            <ion-icon name="ios-arrow-forward" (click)="slideButtonClick(0)" [class.hidden]="hiddenCheck(0)" tappable></ion-icon>
          </div>

          <i id="line"></i>
          <div *ngFor="let p of o.productList">
            <div class="product-block">
              <span><img [src]="p.image_url"></span>
              <div class="product-info">
                  <div class="title">{{p.name}}</div>
                  <div class="farm-name">by {{p.display_name}}</div>
                  <div *ngIf="!(p.special_expiry > now)"  class="price">${{p.price*p.qty}}</div>
                  <div *ngIf="p.special_expiry > now" class="price">${{p.special_price*p.qty}}</div>
                  <div class="quantity">
                    <ion-icon name="md-remove" (click)="productBuyerQtyEdit(o, p, 0)" tappable></ion-icon>
                    <span *ngIf="!(p.special_expiry > now)">&nbsp;&nbsp;{{p.qty*p.weight}}g&nbsp;&nbsp;</span>
                    <span *ngIf="p.special_expiry > now">&nbsp;&nbsp;{{p.qty*p.special_weight}}g&nbsp;&nbsp;</span>

                    <ion-icon name="md-add" (click)="productBuyerQtyEdit(o, p, 1)" tappable></ion-icon>
                  </div>
              </div>
              <div class="delete" (click)="presentConfirm(p.transaction_id)"><ion-icon name="md-close"></ion-icon></div>
            </div>
          <i id="line"></i>
          </div>
          

          <div class="select-title-cs">
              <span>This farm allows you to select:</span>
          </div>

          <div class="delivery-block">
            <label class="radio-label" *ngIf="o.farm.pickup.length != 0">
              <input type="radio" value="point" [(ngModel)]="o.farm.pickup_way" (change)="calculateShipping(o)">
              <span class="checkmark"></span>
              <span class="text">Free shipping pick-up point:</span>
            </label>

            <ion-item *ngIf="o.farm.pickup.length != 0">
              <ion-select [(ngModel)]="o.farm.pickup_location" placeholder=" - Please Select - " [disabled]="o.farm.pickup_way != 'point'">
                <span *ngFor="let p of o.farm.pickup">
                    <ion-option *ngIf="p.func_on" [value]="p.location">{{p.location}}</ion-option>
                </span>
              </ion-select>
            </ion-item>

            <label class="radio-label">
              <input type="radio" [value]="'home'" [(ngModel)]="o.farm.pickup_way" (change)="calculateShipping(o)">
              <span class="checkmark"></span>
              <span class="text">Delivery to your preset address:</span>
            </label>

            <div class="address">
              <span>{{user_info.address}}</span>
            </div>
          </div>

        </div>

        <div class="counting-block">
          <table class="counting-table">
            <tr><td class="text">Subtotal</td><td class="price text">${{o.sum}}</td></tr>
            <tr><td class="text">Shipping Cost</td><td class="price text">${{o.farm.shipping}}</td></tr>
            <tr><td colspan="2"><hr></td></tr>
            <tr><td class="bold-text">Total Cost</td><td class="price text">${{o.farm.shipping + o.sum}}</td></tr>
          </table>
        </div>

        <div class="checkout-button" (click)="checkOutOpenPage(o, i)" tappable>
          <div class="button-text">Check Out This List</div>
        </div>
      </ion-slide>
    </ion-slides>


  </div>
</ion-content>
  