page-add-news {
        .container{ 
        border-radius: 2%;
        height: 500px;
        background-color: #FFFFFF;
        }
    
        .title-block{
        padding-top: 10px;
        padding-left: 10px;
        
        .title{
            color: #00A69C;
        }
        .data-title{
            border-bottom: 1px solid #00A69C;
            width: 98%;
        }
        }
        .description-block{
        padding-top: 10px;
        padding-left: 10px;
        position: relative;
        .des-title{
            color: black;
        }
        .des-area{
        padding-left: 10px;
        padding-top: 5px;
            #area{
                border: 1px solid  black;
                height: 200px;
                width: 95%;
            }
        }   
        }
    
        .photo-block{ 
        padding-top: 10px;
        padding-left: 10px;
        
        .upload-photo-area{
            margin: 7px;
            display: block;
            height: 150px;
            width: 93%;
            background-color: white;
            position: relative;
            flex-direction: column;
            box-shadow: 3px 4px 14px 2px rgba(179, 179, 179, 0.75);
        
            .upload-icon{
                padding-top: 15%;
                padding-left: 45%;
                
                #icon{
                    font-size: 50px;
                    color:#00A69C;
                }
            }
    
            .upload-text{
            text-align: center;
            }
        }
        }
    
        .submit-block{
            padding-top: 40px;
        .submit-button{
            background-color: #027B73;
            height: 39px;        
        
            .button-text{
                font-size: 18px;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 40px;
                text-align: center;
            }
        }
        
    }
 }