<ion-header>
  <my-navbar [title]="title"></my-navbar>
</ion-header>

 
<ion-content>
  <div *ngFor="let m of message_list" class="message-block" (click)="joinChat(m)" tappable>
    <img [src]="m.image_url">
    <div class="info">
      <div class="upper-session">
        <div class="name">{{m.display_name}}</div>
        <div class="datetime">{{m.datetime}}</div>
      </div>
      <div class="last-message">
        <span class="text">{{m.message}}</span>
      </div>
      <div class="un-read-message" *ngIf="m.un_read > 0">
        <span class="num">{{m.un_read}}</span>
      </div>
    </div>
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </div>


  <!-- <ion-item>
    <ion-label stacked>Set Nickname</ion-label>
    <ion-input type="text" [(ngModel)]="nickname" placeholder="Nickname"></ion-input>
  </ion-item>
  <button ion-button full (click)="joinChat()" [disabled]="nickname === ''">Join Chat as {{ nickname }}</button> -->
</ion-content>