page-message {
    .message-block{
        position: relative;
        display: flex;
        background: #fff;
        margin: 2px 0px;
        border-radius: 1px;

        img{
            display: inline-block;
            object-fit: cover;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin: 10px;
        }

        .info{
            display: inline-block;
            width: calc(100% - 100px);
            padding: 10px;
            padding-right: 20px;
            .upper-session{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 17px;

                .name{
                    font-weight: bold;
                }

                .datetime{
                    color: rgb(158, 158, 158);  
                }
            }

            .last-message{
                padding-top: 5px;
                height: 40px;            
                // line-height: 40px;
                overflow: hidden;
                text-overflow: ellipsis;

                .text{
                    font-size: 15px;
                    color: rgb(158, 158, 158);               
                    vertical-align: middle;
                    line-height: 1.3em;
                }
            }
        }

        .icon{
            position: absolute;
            color: rgb(199, 199, 199);   
            font-size: 18px;
            right: 10px;
            bottom: calc(50% - 5px);
        }

        .un-read-message{
            position: absolute;
            background-color: #00A69C;
            height: 18px;
            min-width: 18px;
            border-radius: 9px;
            text-align: center;
            line-height: 18px;
            font-size: 15px;
            color: #fff;
            right: 30px;
            top: 35px;

            .num{
                padding: 0 5px;
            }
        }
    }
}
