<ion-navbar class="my-navbar" hideBackButton="true">
    <ion-title class="logo" *ngIf="logo_url">
        <img [src]="logo_url" />
    </ion-title>

    <ion-title *ngIf="title">
        {{title}}
    </ion-title>

    <!-- Menu button -->
    <ion-buttons left menuToggle>
        <button ion-button>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <!-- Back button -->
    <ion-buttons *ngIf="enable_back" left>
        <button ion-button navPop>
            <ion-icon class="icon" name="md-arrow-back" ></ion-icon>
        </button>
    </ion-buttons>

    <!-- Shopping Cart button -->
    <ion-buttons end>
        <button *ngIf="enable_shopping_button" ion-button (click)="openPage()" tappable>
            <ion-icon class="icon" name="md-cart" ></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>