<ion-navbar class="my-navbar" hideBackButton="true">
    <ion-title class="logo" *ngIf="logo_url">
        <img [src]="logo_url" />
    </ion-title>

    <ion-title *ngIf="title">
        {{title}}
    </ion-title>

    <button ion-button menuToggle="main-menu">
        <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-buttons end>
        <button ion-button icon-end tappable (click)="openPage()">
            <ion-icon class="icon" name="md-cart" ></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>