<div class="brand-area">
    <div class="title">Brand</div>
    <div class="brand-block">
        <label class="brand">
            <input type="checkbox" name="vehicle" value="0">
            <span class="text">Headlth Farm</span>
            <span class="checkmark"></span>
        </label>
        <label class="brand">
            <input type="checkbox" name="vehicle" value="0">
            <span class="text">Big Farm</span>
            <span class="checkmark"></span>
        </label>
    </div>
</div>
<div class="number-input">
    <span class="title">Price Below:</span>
    <ion-input type="number" placeholder=""></ion-input>
</div>
<div class="number-input">
    <span class="title">Price Above:</span>
    <ion-input type="number" placeholder=""></ion-input>
</div>
<label class="checkbox-label">
    <input type="checkbox" name="vehicle" value="0">
    <span class="text">Special Offrt</span>
    <span class="checkmark"></span>
</label>
