$popover-ios-width: 130px;
$popover-ios-border-radius :0px;

.popover-arrow{
    display: none !important;
}

.filter-box { 
    .popover-content{
        right: 7px !important;
        top: 135px !important;
        left: auto !important;
        width: 229px;
        max-height: 300px;
        border-radius: 1px !important;
        margin: -4.5px 0px 0px 8px;
        box-shadow: none !important;
    }

    ion-backdrop{
        opacity: 0 !important;
    }
}

filter-box {

}
