page-single-product {
    ion-content{
        background-color: #FFFFFF !important;
    }

    .top-session{
        margin: 18px;

        .title{
            margin: 0 7px;
            font-size: 17px; 
        }

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2px 7px;

            .sub-container{
                display: flex;
                align-items: center;

                .farm-name{
                    display: inline-block;
                    font-size: 12px;
                    color: #B9B7B7;
                    padding-right: 3px;
                }

                .icon{
                    color: #027B73;
                    padding: 0 2px;
                    font-size: 20px;
                }
            }

            .rating{
                color: #FCA706;
                font-size: 20px;
            }   
        }

        hr{
            border-color: #B5B5B5;
        }
    }

    .bottom-session{
        position: relative;
        .title{
            margin: 0 25px;
            margin-top: 18px;
            font-size: 17px; 
        }

        .scroll-sections{
            overflow-x: auto;
            overflow-y: hidden;
            width: calc( 100% - 50px );
            margin: auto;
            ::-webkit-scrollbar {
                display: none;
            }

            .related-product{
                display: table-cell;
                text-align: center;
                padding: 0 8px;
                margin-top: 5px;
                width: 120px;

                .product-img{
                    height: 120px;
                    width: 120px;
                    margin: 5px auto;
                    text-align: center;

                    img{
                        object-fit: cover;
                        height: 120px;
                        width: 120px;
                    }
                }

                .title{
                    margin: 0px;
                    font-size: 14px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .farm-name{
                    font-size: 12px;
                    color: #B9B7B7;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }


                .rating{
                    color: #FCA706;
                    font-size: 15px;
                } 
            }
        }

        .prev{
            position: absolute;
            left: 0;
            font-size: 25px;
            padding: 6px;
            margin-top: 70px;
    
        }

        .next{
            position: absolute;
            right: 0;
            margin-top: 70px;
            font-size: 25px;
            padding: 6px;
        }
    }

    .product-img{
        height: 230px;
        // width: 260px;
        margin: 0 22px;
        margin-bottom: 18px;
        text-align: center;
        img{
            object-fit: cover;
            height: 230px;
            width: 230px;
        }
    }

    .product-info{
        margin: 0 18px;
        font-size: 14px;

        tr{
            height: 25px;  
        }

        th{
            text-align: right;
            padding-right: 5px;
        }

        .delete{
            text-decoration: line-through;
            font-size: 13px;
            color: #B9B7B7;
        }

        .qty-input{
            display: flex;
            align-items: center;
            height: 25px;

            .icon{
                font-size: 15px;
                color: #747373;
                padding: 5px;
            }

            .qty-choose{
                margin: 0 2px;
                border: 1px solid #747373;
                height: 23px;
                line-height: 23px;
                min-width: 50px;
                text-align: center;
            }

            .qty-left{
                color: #898989;
                padding: 0 2px;
            }
        }
    }

    .add-cart-button{
        height: 31px;
        width: 167px;
        background-color: #027B73;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        line-height: 31px;
        margin: 20px auto;
        font-weight: bold;

        .icon{
            font-size: 22px;
            font-weight: normal;
            line-height: 31px;
            padding-right: 8px;
        }
    }

    #line{
        display: block;
        height: 1px;
        border: 0.51px solid rgb(181,181,181);
        // margin: 0 12px;
    }

    .bottom-area{
        margin: 0 18px;
    }
    
}
