<ion-header>
    <my-navbar [logo_url]="'assets/imgs/app-logo.png'" [enable_back]="true"></my-navbar>
</ion-header>

<ion-content>
    <div class="top-session">
        <div class="title">{{product.name}}</div>
        <div class="container">
            <div class="sub-container">
                <div class="farm-name">by {{product.display_name}}</div>
                <i class="fa fa-building icon"></i>
                <i class="fa fa-comments icon"></i>
            </div>
            <div class="rating">
                <span *ngFor="let i of getFullStarNumber(product.rating)">
                    <ion-icon name="md-star"></ion-icon>
                </span>
                <span *ngIf="product.rating % 1 != 0">
                    <ion-icon name="md-star-half"></ion-icon>
                </span>
                <span *ngFor="let i of getOutlineStarNumber(product.rating)">
                    <ion-icon name="md-star-outline"></ion-icon>
                </span>
            </div>
        </div>
        <i id="line"></i>
    </div>

    <div class="product-img">
        <img [src]="product.image_url">
    </div>

    <table class="product-info">
        <tr>
            <th>Entry Date:</th>
            <td>{{product.last_update}}</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>${{product.price}}/ {{product.weight}}g</td>
        </tr>
        <tr>
            <th>Quanty:</th>
            <td class="qty-input">
                <ion-icon name="md-remove-circle" (click)="controlQty(false)" tappable></ion-icon>
                <div class="qty-choose">{{buyyer_qty*product.weight}}g</div>
                <ion-icon name="md-add-circle" (click)="controlQty(true)" tappable></ion-icon>
                <div class="qty-left">({{product.qty*product.weight}}g left)</div>
            </td>
        </tr>
    </table>
    
    <div class="add-cart-button" (click)="addToCart()">
        <i class="fa fa-cart-plus icon"></i>Add to cart
    </div>

    <div class="bottom-area">
        <i id="line"></i>
    </div>
    <div class="bottom-session" overflow-scroll="true">
        <div class="title">Other related items</div>
        <div class="prev"><ion-icon class="icon_arrow" [hidden]="maxLeft" name="ios-arrow-back"></ion-icon></div>
	    <div class="next"><ion-icon class="icon_arrow" [hidden]="maxRight" name="ios-arrow-forward"></ion-icon></div>
        <div class="scroll-sections" (scroll)="getPosition($event)" >
            <div *ngFor="let rp of related_product" class="related-product" (click)="openProductDetail(rp)" tappable>
                <div class="product-img">
                    <img [src]="rp.image_url">
                </div>
                <div class="title">{{rp.name}}</div>
                <div class="farm-name">by {{rp.display_name}}</div>
                <div class="rating">
                    <span *ngFor="let i of getFullStarNumber(rp.rating)">
                        <ion-icon name="md-star"></ion-icon>
                    </span>
                    <span *ngIf="rp.rating % 1 != 0">
                        <ion-icon name="md-star-half"></ion-icon>
                    </span>
                    <span *ngFor="let i of getOutlineStarNumber(rp.rating)">
                        <ion-icon name="md-star-outline"></ion-icon>
                    </span>
                </div>
            </div>
        </div>
       
        <!-- <div class="title">{{product.name}}</div>
        <div class="container">
            <div class="sub-container">
                <div class="farm-name">by {{product.display_name}}</div>
                <i class="fa fa-building icon"></i>
                <i class="fa fa-comments icon"></i>
            </div>
            <div class="rating">
                <span *ngFor="let i of getFullStarNumber(product.rating)">
                    <ion-icon name="md-star"></ion-icon>
                </span>
                <span *ngIf="product.rating % 1 != 0">
                    <ion-icon name="md-star-half"></ion-icon>
                </span>
                <span *ngFor="let i of getOutlineStarNumber(product.rating)">
                    <ion-icon name="md-star-outline"></ion-icon>
                </span>
            </div>
        </div> -->
    </div>


</ion-content>
