page-seller-operational-setting {
    .shipping{
        display: flex;
        flex-direction: column;
        flex: space-between;
        border-radius: 2%;
        margin: 7px; 
        padding: 10px;
        background-color: white;
        position: relative;

        .edit{
            display: inline-block;
            position: absolute;
            padding: 5px;
            right: 15px;
            color: #027B73;
        }

        .title{
            font-size: 19px;
            padding-left: 10px;
            display: inline-block;
        }
        
        .listRow{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            min-height: 30px;
            padding: 3px 0;

            .listItem{
                padding-left: 10px;
                display: inline-block;
            }
    
            .help{
                color: #027B73;
                display: inline-block;
                position: absolute;
                left: 123px;
            }
    
            .switch{
                display: inline-block;
                // position: absolute;
                margin-right: 10px;
                zoom: 0.8;
            }

            .cost{
                color: #707070;
                font-size: 14px;
                margin-left: 20px;
                padding-top: 3px;
            }

            .edit_cost{
                display: flex;
                padding-top: 3px;
                font-size: 14px;
                margin-left: 20px;
                vertical-align: middle;

                .doller{
                    padding-top: 5px;
                }

                .text-input{
                    margin: 5px;
                    border-bottom: 1px solid #707070;
                    width: 30px;
                }
            }
        }
    }

    .delivery{
        display: flex;
        flex-direction: column;
        flex: space-between;
        border-radius: 2%;
        margin: 7px; 
        padding: 10px;
        background-color: white;
        position: relative;

        .titleLine{
            display: flex;
            flex-direction: row;
            flex: flex-start;
            position: relative;
            align-items: center;
            padding: 3px 0;
  
            .title{
                font-size: 19px;
                padding-left: 10px;
                display: inline-block;
            }
    
            .edit{
                display: inline-block;
                position: absolute;
                right: 10px;
                color: #027B73;
            }

            .help{
                color: #027B73;
                display: inline-block;
                position: absolute;
                left: 210px;
            }
        }

        .listRow{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            min-height: 30px;
            padding: 3px 0;

            .pickUpPoint{
                padding-left: 10px;
                display: inline-block;
            }

            .cost{
                color: #707070;
                font-size: 14px;
                margin-left: 20px;
                padding-top: 3px;
            }

            .edit_cost{
                display: flex;
                padding-top: 3px;
                font-size: 14px;
                margin-left: 20px;
                vertical-align: middle;

                .doller{
                    padding-top: 5px;
                }

                .text-input{
                    margin: 5px;
                    border-bottom: 1px solid #707070;
                    width: 30px;
                }
            }

            .remove-button{
                position: absolute;
                left: 5px;
                padding: 5px;
                color: red;
            }
    
            .switch{
                // width: 41px;
                // height: 26px;
                display: inline-block;
                // position: absolute;
                right: 10px;
                zoom: 0.8;
            }

            .homeDelivery{
                padding-left: 10px;
                display: inline-block;
            }
        }

        .editing{
            padding-left: 25px;
        }
       
    }

    .charging{
        display: flex;
        flex-direction: column;
        flex: space-between;
        border-radius: 2%;
        margin: 7px; 
        padding: 10px;
        background-color: white;
        position: relative;
        height:125px;

        .titleLine{
            display: flex;
            flex-direction: row;
            flex: flex-start;
            position: relative;
            align-items: center;
            padding: 10px 0px 10px 0px;
  

            .title{
                font-size: 19px;
                padding-left: 10px;
                display: inline-block;
            }
    
            .edit{
                display: inline-block;
                position: absolute;
                right: 10px;
                color: #027B73;
            }
        }

        .method{
            padding-left: 10px;
        }

        .account{
            color: #707070;
            padding-left: 20px;
        }

        .listRow{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            padding: 15px 0px 15px 0px;

            .payAfter{
                padding-left: 10px;
                display: inline-block;
            }
    
            .switch{
                // width: 41px;
                // height: 26px;
                display: inline-block;
                // position: absolute;
                margin-right: 10px;
                zoom: 0.8;
            }
        }
    }

    .button_session{
        display: flex;
        justify-content:space-between;
        margin: 10px 7px;
        
        .button{
            height: 30px;
            width: 49%;
            font-size: 18px;
            text-align: center;
            line-height: 30px;
        }

        .submit{
            background-color: #027B73;
            color: #fff;
        }

        .cancel{
            background-color: rgb(119, 119, 119);
            color: #fff;
        }
    }
}
