<ion-menu type="overlay" [content]="content">
  <ion-header>
    <ion-toolbar>
      <div class="menu_header">
        <i class="fa fa-user-circle fa-3x"></i> 
        <span class="menu_header_text">Hello, Visitor</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="menu_content">
      <div *ngFor="let p of buyer_pages" class="page" tappable (click)="openPage(p)">
        <i [class]="p.icon"></i> 
        <a>{{p.title}}</a> 
      </div>

      <div class="line-padding"><i id="line"></i></div>

      <div *ngFor="let p of user_bottom_pages" class="page" tappable (click)="openPage(p)">
        <i [class]="p.icon"></i> 
        <a>{{p.title}}</a> 
      </div>
    </div>
  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>