<ion-menu id="main-menu" type="overlay" [content]="content">
  <ion-header>
    <ion-toolbar>
      <div class="menu_header">
        <i class="fa fa-user-circle fa-3x"></i> 
        <span class="menu_header_text">Hello, {{display_name}}</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="menu_content">
      <div *ngIf="guest" class="guest-block">
        <i class="fa fa-user-circle fa-3x"></i> 
        <div class="login-button" (click)="pushPage(login)" tappable>
            <div class="button-text">Login</div>
        </div>
      </div>

      <div *ngFor="let p of upper_page" class="page" tappable (click)="openPage(p)">
        <i [class]="p.icon"></i> 
        <a>{{p.title}}</a> 
      </div>

      <div class="line-padding"><i id="line"></i></div>

      <div *ngFor="let p of bottom_pages" class="page" tappable (click)="openPage(p)">
        <i [class]="p.icon"></i> 
        <a>{{p.title}}</a> 
      </div>

      <!-- testing -->
      <div class="page" tappable (click)="pushPage(login)">
        <i [class]="login.icon"></i> 
        <a>{{login.title}}</a> 
      </div>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>