.toolbar-background {
  background-color: #00a69c;
}

.toolbar{
  min-height:54px;
}

// .toolbar-ios{
//   margin-top: 20px;
// }

body {
	font-family: Arial, Helvetica, sans-serif;
}

ion-header{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

ion-menu{
	ion-toolbar{
		height: 80px;
	}

	ion-title{
		font-size: 20px;
	}

	.menu_header{
		display: flex;
		align-items: center;
		padding-left: 16px;
		color: #FFFFFF;

		img{
			border-radius: 50%;
			object-fit: cover;
			width: 47px;
            height: 47px;
		}

		.icon{
			font-size: 47px;
		}
	}    

	.menu_header_text{
		font-size: 20px;
		padding-left: 15px;
	}

	.menu_content{
		background-color: #FFFFFF;
		height: 100%;
		padding: 10px 25px 25px 25px;

		.guest-block{
			height: 220px;

			i{
				display: block;
				margin-left: 30%;
				font-size: 105px;
				line-height: 166px;
			}

			.login-button{
				background-color: #027B73;
				height: 39px;
				margin: 0px 25px;         

				.button-text{
					font-size: 18px;
					font-weight: bold;
					color: #FFFFFF;
					line-height: 40px;
					text-align: center;
				}
			}
		}
		
    .page{
			height: 45px;
			display: flex;
			align-items: center;

			a{
				color: #000000;
				font-size: 17px;
				padding-left: 5px;
			}
    }

    .line-padding{
			padding: 10px 0;
    }
    
    #line{
			display: block;
			height: 1px;
			border: 0.51px solid #707070;
			margin: auto;
    }
  }

	.icon{
		font-size: 20px;
	}
}