.toolbar-background {
  background-color: #00A69C;
}

.toolbar{
  min-height:54px;
}

ion-menu{
  ion-toolbar{
    height: 80px;
  }

  ion-title{
    font-size: 20px;
  }

  .menu_header{
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: #FFFFFF;
  }

  .menu_header_text{
    font-size: 20px;
    padding-left: 15px;
  }

  .menu_content{
    height: 50%;
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-top: 20px;
  }

  .icon{
    font-size: 20px;
  }
}