<ion-header>
    <my-navbar [logo_url]="'assets/imgs/app-logo.png'" [enable_shopping_button]="false"></my-navbar>
  </ion-header>
  
    <ion-content>
        <div class="top">
            <div class="banner">
                <img [src]="user_info.banner_pic_url">
            </div>
            <div class="farmIcon">
                <img [src]="user_info.profile_pic_url">
            </div>
            <div class="info">
                <div class="farmName">{{user_info.display_name}}</div>
                <div class="identity">Farmer</div>
                <div class="farmInfo">
                    <div class="line">
                        <ion-icon name="md-pin"></ion-icon>
                        <span class="text">{{user_info.address}}</span>
                    </div>
                    <div class="line">
                        <ion-icon name="md-call"></ion-icon>
                        <span class="text">{{user_info.phone_number}}</span>
                    </div>
                    <div class="line">
                        <ion-icon name="md-card"></ion-icon>
                        <span class="text" *ngIf="user_info.coupon_on">Shipping coupon supported</span> 
                        <span class="text" *ngIf="!user_info.coupon_on">Shipping coupon not supported</span> 
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="top-button">
                <div class="button" (click)="pushPage(sellerPersonalise)" tappable>
                    <div class="container">
                        <div class="buttonIcon">
                            <div class="iconCircle">
                                <ion-icon name="md-happy"></ion-icon>
                            </div>
                        </div>
                        <div class="button-text">Personalise Profile</div>
                        <div class="button-arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                    </div>
                </div>
            </div>

            
            <div class="button" (click)="listingMode = true" *ngIf="!listingMode"tappable>
                <div class="container">
                    <div class="buttonIcon">
                        <div class="iconCircle">
                            <ion-icon name="md-list-box"></ion-icon>
                        </div>
                    </div>
                    <div class="button-text">Listings</div>
                    <div class="button-arrow"><ion-icon name="ios-arrow-down"></ion-icon></div>
                </div>
            </div>




            <div class="listing-block" *ngIf="listingMode" >
                <div class="button active" (click)="listingMode = false" tappable>
                    <div class="container">
                        <div class="buttonIcon">
                            <div class="iconCircle">
                                <ion-icon name="md-list-box"></ion-icon>
                            </div>
                        </div>
                        <div class="button-text">Listings</div>
                        <div class="button-arrow"><ion-icon name="ios-arrow-up"></ion-icon></div>
                    </div>
                </div>

                <div class="listing-button" (click)="pushPage(sellerNews)" tappable>
                    <div class="container">
                        <div class="button-text">Your News</div>
                        <div class="button-arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                    </div>
                </div>
                <div class="listing-button" (click)="pushPage(sellerProducts)" tappable>
                    <div class="container">
                        <div class="button-text">Your Products</div>
                        <div class="button-arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                    </div>
                </div>
            </div>




            <div class="button" (click)="pushPage(busi-stat)" tappable>
                <div class="container">
                    <div class="buttonIcon">
                        <div class="iconCircle">
                            <ion-icon name="md-trending-up"></ion-icon>
                        </div>
                    </div>
                <div class="button-text">Business Statistics</div>
                    <div class="button-arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                </div>
            </div> 
                
            <div class="button" (click)="pushPage(sellerSetting)" tappable>
                <div class="container">
                    <div class="buttonIcon">
                        <div class="iconCircle">
                            <ion-icon name="md-hammer"></ion-icon>
                        </div>
                    </div>
                    <div class="button-text">Operational Setting</div>
                    <div class="button-arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                </div>
            </div>

            <div class="button" (click)="pushPage(message-box)" tappable>
                <div class="container">
                    <div class="buttonIcon">
                        <div class="iconCircle">
                            <ion-icon name="md-chatboxes"></ion-icon>
                        </div>
                    </div>
                    <div class="button-text">Message Box</div>
                    <div class="button-arrow"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                </div>
            </div>

        </div>
    </ion-content>
  