page-signup {
    .masters{
        background-color: #FFFFFF
    }

    .background{
        height: 187px;
        background-color: #00A69C;
        clip-path: polygon(0 0, 100% 0%, 100% 67%, 0 100%);
        overflow: visible;

        img{
            display: block;
            position: absolute;
            width: 142px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 66px;
        }
    }

    .greeting{
        position: absolute;
        width: 100%;
        top: 172px;
        text-align: center;
        font-size: 25px;
        color: #818181;
    }

    .input-session{
        padding-top: 20px;
        margin: 10px 40px;
    
        .input-block{
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-style: solid;
            border-width: 1px;
            border-color: #BDBDBD;
            margin-bottom: 10px;
            
            .input{
                font-size: 16px !important;
                margin: 0;
                .text-input{
                    margin: 6px 2px;
                }
            }
            
            .icon{
                font-size: 18px;
                color: #BDBDBD;
                padding: 3px;
                padding-right: 17px;
            }

            .star{
                font-size: 10px;
                color: #EB5537;
            }

            .non-required-field{
                padding-left: 10px;
            }
        }

        .forget-button{
            text-align: center;
            font-size: 12px;
            padding: 3px 0;
            padding-bottom: 20px;
            color: #BDBDBD;
        }

        .signup-button{
            background-color: #027B73;
            height: 39px;
            margin: 20px 20px;         

            .button-text{
                font-size: 18px;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 40px;
                text-align: center;
            }
        }

        .fb-button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4468B0;
            height: 39px;
            margin: 10px 20px; 
            margin-bottom: 15px;
        
            .icon{
                font-size: 20px;
                color: #FFFFFF;
            }

            .button-text{
                font-size: 18px;
                font-weight: bold;
                padding-left: 15px;
                color: #FFFFFF;
                line-height: 40px;
                text-align: center;
            }
        }

        .funcation-tab{
            text-align: center;
            font-size: 12px;
            color: #A2A2A2;
            margin-bottom: 13px;

            .span-button{
                color: #249CD2;
                margin-left: 3px;
                padding: 3px;
            }

            .or{
                font-size: 16px;
            }

            
        }
        
    }

    .text{
        font-size: 16px;
        color: #EB5537;
        text-align: left;
    }
}
