page-the-market {
    .search-block{
        height: 42px;
        background-color: #00a69c;
        .searchbar{
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            height: 40px;
            margin: 0 18px;
            padding: 0 5px;

            ion-icon {
                font-size: 22px;
                // line-height: 23px;
                padding: 10px;
                color: #027B73;
            }

            .text-input {
                width: calc(100% - 8px - 8px);
                padding-right: 0px;
            }
        }
    }

    .filter-area{
        height: 50px;
        padding: 7px 18px;
        background-color: #00a69c;
        color: #FFFFFF;
        font-size: 16px;

        .num-of-result{
            display: inline-block;
            line-height: 36px;
            padding-left: 2px;        
        }

        .popover-button{
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            float: right;
            border-left: 1.5px solid rgba(255, 255, 255, 0.5);
            .text{
                padding-left: 9px;
            }
            .icon{
                padding: 0 9px
            }
        }

        .popover-button.active{
            background-color: #FFFFFF;
            color: #000000;
        }
    }

    .product-block{
        position: relative;
        display: flex;
        background-color: #FFFFFF;
        margin: 2px;
        height: 143px;
        padding: 8px;

        img{
            object-fit: cover;
            height: 124px;
            width: 124px;
        }

        .special{
            position: absolute;
            top: 12px;
            right: 8px;
            color: #EB5537;
        }

        .product-info{
            margin: 6px 15px;

            .title{
                font-size: 17px;
                color: #000000;
                white-space: nowrap;
                overflow : hidden;
                text-overflow : ellipsis;
            }

            .farm-name{
                font-size: 12px;
                color: #B9B7B7;
                margin: 6px 0;
            }

            .special_price{
                display: inline-block;
                font-size: 15px;
                padding: 10px 0;
            }

            .price{
                display: inline-block;
                font-size: 15px;
                padding: 10px 0;
            }

            .delete{
                text-decoration: line-through;
                font-size: 13px;
                color: #B9B7B7;
            }

            .rating{
                color: #FCA706;
                font-size: 20px;
            }
        }

        .detail-block{
            position: absolute;
            right: 8px;
            bottom: 8px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            float: right;
            font-size: 11px;
            color: #505050;
            font-weight: bold;

            ion-icon{
                padding-left: 8px;
                line-height: 14px;
            }
        }

    }

}
