<ion-header>
  <my-navbar [title]="title"></my-navbar>
  <div class="search-block">
		<div class="searchbar">
			<ion-icon class="icon" name="ios-search"></ion-icon>
			<ion-input placeholder="{{keyword || 'What product are you looking for'}}" [(ngModel)]="search_bar"></ion-input>
			<ion-icon class="icon" name="md-send" tappable (click)="getProductBykeyword()"></ion-icon>
		</div>
  </div>

  <div class="filter-area">
    <div class="num-of-result">{{result_num}} Results</div>

    <div class="popover-button" [class.active]="filter_box_show" (click)="openFilterBox($event)" tappable>
      <span class="text">Filter</span>
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </div>

    <div class="popover-button" [class.active]="sorting_box_show" (click)="openSortingBox($event)">
      <span class="text">Sort By</span>
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content >
  <span  *ngFor="let p of productList" >
    <div class="product-block" (click)="openProductDetail(p)" tappable>
      <span>
        <img [src]="p.image_url">
      </span>
    
      <div class="product-info">
        <div class="title">{{p.name}}</div>
        <div class="farm-name">by {{p.display_name}}</div>
        <div class="price">${{p.price}}/ {{p.weight}}g</div>
        <div class="rating">
          <span *ngFor="let i of getFullStarNumber(p.rating)">
              <ion-icon name="md-star"></ion-icon>
          </span>
          <span *ngIf="p.rating % 1 != 0">
            <ion-icon name="md-star-half"></ion-icon>
          </span>
          <span *ngFor="let i of getOutlineStarNumber(p.rating)">
              <ion-icon name="md-star-outline"></ion-icon>
          </span>
        </div>
      </div>

      <div class="detail-block">
        <span>More detail</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div>
  </span>

</ion-content>

    